<div class="container">

  <div class="form-container">
    <h2>Packed Bubble Chart Form</h2>
  
    <form [formGroup]="pbform" (ngSubmit)="onSubmit()">
      <div formArrayName="pairs">
        <div class="form-group" *ngFor="let pair of pairs.controls; let i = index" [formGroupName]="i">
          <label>
            Name:
            <input class="form-control" formControlName="name" placeholder="Name" required>
          </label>
          <label>
            Colour:
            <input type="color" class="form-control-color" formControlName="pickedcolor" placeholder="Colour" required>
          </label>
          <label>
            Value:
            <input class="form-control" formControlName="value" placeholder="Value" required>
          </label>
          <button type="button" class="btn btn-danger" (click)="removePair(i)">Remove</button>
        </div>
      </div>
      <button type="button" class="add-btn btn btn-primary" (click)="addPair()">Add Pair</button>
      <button type="submit" class="submit-btn btn btn-success" [disabled]="pbform.invalid">Submit</button>
    </form>
  
    <hr>
  
  </div>
  <div id="container" class="chart-container"></div>
</div>
